<div class="container" >
  <header class="image-bg-fluid-height" src="<%= @header_image %>">
    <div class="artist-name">
      </a>
      <h3><%= @artist.artist_name %></h3>
    </div>
  </header>

  <div class="main-body">
  </div>
</div>