<div class="question_content top_content">
  <header class="profile">
    <img src="<%= current_user.icon_image %>" alt="ユーザー画像">
    <div class="question_user_info user_info">
      <span><strong><%= current_user.nickname %></strong></span>
    </div>
  </header>
  <div class="question_body">
    <div class="question_box">
      <span class="question_text"><%= simple_format(comment.comment) %></span>
    </div>
  </div>
</div>