<div class="col-sm-6 col-md-3 col-lg-3">
  <div class="pick" style="border-radius: 5px;" >
    <div class="comment">
      <span class="question_text"><%= simple_format(comment.comment) %></span>
    </div>
      <div class="user-comment">
        <div class="profile">
          <br>
          <img src="<%= current_user.icon_image %>" alt="ユーザー画像" style="margin-left: 20px;">
          <div class="details">
            <div class="nickname" style="margin-right: 150px;" ><%= current_user.nickname %>
            </div>
            <div class="job" style="overflow: initial;">
              <%= current_user.job %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>