container .contents-area {
    width: 528px;
    position: relative;
    float: left;
    margin-bottom: 40px;
}


.profile {
  dislay: block;

  img {
    margin-top: 1px;
    margin-right: 7px;
    width: 32px;
    height: 32px;
    float: left;
    }

  .comment {
    height: 34px;

    .btn btn-primary {
      float: right;
    }
  }
}

.article_image {
  width: 560px;
}

.img-responsive {
  height: 416px;
  background-repeat: no-repeat;
  background-size: 100% auto;
}