@mixin boxBase($margin: 30px auto, $padding: 10px) {
  margin: $margin;
  padding: $padding;
}

@mixin baseMargin($margin: 10px auto) {
  margin: $margin;
}

@mixin basePadding($padding: 10px) {
  padding: $padding;
}

.form {
  background: url(https://dl.dropboxusercontent.com/u/5840617/DeathtoStock_Wired3.jpg);
  background-size: cover;
  .contents {
    position: absolute;
    left: 0;
    top: 30%;
    bottom: 0;
    right: 0;
  }
  footer {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
  }
}
div.contents.row {
  h2 {
    @include boxBase(20px 0, 0);
    font-weight: normal;
    strong {
      font-weight: bold;
      padding-right: 5px;
      font-size: 1.2em;
    }
  }
  .new_user{
  font-family: "游ゴシック", "YuGothic";
  }
  div.content_post {
    @include boxBase(20px 0 ,30px);
    position: relative;
    height: 400px;
    color: #fff;
    background-size: cover;
    background-position: center center;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(black,0.2);
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      border-radius: 3px;
    }
    .more {
      position: absolute;
      cursor: pointer;
      top: 20px;
      right: 30px;
      z-index: 2;
      height: 100px;
      width: 80px;
      text-align: right;
      &:hover ul.more_list {
        display: block;
      }
      ul.more_list {
        position: absolute;
        text-align: left;
        width: 80px;
        right: 0;
        font-size: 12px;
        background-color: #fff;
        border: 1px solid #ddd;
        display: none;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
        border-radius: 3px;
        li {
          border-bottom: 1px solid #ddd;
          &:last-child {
            border-bottom: 0;
          }
          a {
            display: block;
            padding: 5px;
            &:hover {
              background-color: black;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

form {
  h3 {
    @include baseMargin(0 0 20px);
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    color: black;
  }
  input,textarea {
    width: 100%;
    @include boxBase(5px 0 15px,10px);
    border: 1px solid gray;
    border-radius: 5px;
    font-family: "游ゴシック", "YuGothic";
  }
  input[type="submit"] {
    @extend .transition;
    background-color: black;
    border-radius: 20px;
    color: #fff;
    border: 0;
    font-size: 18px;
    &:hover {
      background-color: lighten(black, 10%);
    }
  }
}

.profile {
  .name {
    font-size: 14px;
    font-weight: 700;
    height: 18px;
  }

  .job {
    font-size: 12px;
    color: #999;
    height: 17px;
  }

  img {
    margin-top: 1px;
    margin-right: 7px;
    width: 32px;
    height: 32px;
    float: left;
    }
}

.registrarion_wrapper{
  padding: 0 350px;
}
